/* Apply border-box to all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Color Palette:
   Light Shades: #fff;
   Light Accent: #f9f9f9, #f0f0f0, #e6e6e6;
   Main Brand Color: #b8860b (yellowish brown);
   Dark Accent: #999, #ccc;
   Dark Shades: #664d00, #333, #000;
*/

.profile-section {
  text-align: center;
}

.name {
  display: inline-block;
  font-size: larger;
  font-family: 'Times New Roman', Times, serif;
  color: #664d00; 
}

.profile-pic {
  display: inline-block;
  width: 100px;
  height: auto;
  border-radius: 10%;
  margin: 5px;
}
